* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Silkscreen";
	src: url(./fonts/Silkscreen-Regular.ttf);
	src: url(./fonts/Silkscreen-Bold.ttf);
	font-weight: normal;
	display: wrap;
	font-style: normal;
}

@font-face {
	font-family: "PressStart2P";
	src: url(./fonts/PressStart2P-Regular.ttf);
	font-weight: normal;
	display: wrap;
	font-style: normal;
}

.name {
	color: #c37df1;
	font-family: "Silkscreen", sans-serif;
	font-size: 30px;
	width: 300px;
	height: 60px;
	background: #0B2349;
	box-shadow: 1px -10px 5px -10px #0D61BC inset;
	border-radius: 10px;
	animation: text 2s infinite alternate-reverse;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;

}

@keyframes text {
	70% {
		background: skyblue;
		box-shadow: 1px -20px 10px -10px #8AA9D6 inset;
	}

}

header .gif {
	height: 100vh;
	width: 100%;
	background-image: url("./img/gif/backgr.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

.links {
	font-family: "Silkscreen";
	font-size: 25px;
	padding: 10px;
	color: rgb(34, 216, 216);
	background: #0B2349;
	box-shadow: 1px -10px 5px -10px #0D61BC inset;
	border-radius: 10px;
	animation: text 2s infinite alternate-reverse;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	margin-right: 10px;
}

.logo {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.navigation {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	color: rgb(34, 216, 216);
}

p {
	font-family: "PressStart2P";
	font-size: 18px;
	line-height: 20px;
}

.text {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	color: #b24bc0;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
}

#color-links {
	color: #8646da;
	text-decoration: none;
}

#vanya {
	text-decoration: none;
	color: #b24bc0;
}