* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Silkscreen";
	src: url(./fonts/Silkscreen-Regular.ttf);
	src: url(./fonts/Silkscreen-Bold.ttf);
	font-weight: normal;
	display: wrap;
	font-style: normal;
}

@font-face {
	font-family: "PressStart2P";
	src: url(./fonts/PressStart2P-Regular.ttf);
	font-weight: normal;
	display: wrap;
	font-style: normal;
}

.name {
	color: #8e55b4;
	font-family: "Silkscreen", sans-serif;
	font-size: 30px;
	width: 300px;
	height: 60px;
	background: #0B2349;
	box-shadow: 1px -10px 5px -10px #0D61BC inset;
	border-radius: 10px;
	animation: text 2s infinite alternate-reverse;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;

}

@keyframes text {
	50% {
		background: skyblue;
		box-shadow: 0 -20px 10px -10px #8AA9D6 inset;
	}

}

header .gif {
	height: 100vh;
	width: 100%;
	background-image: url("./img/gif/backgr.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

.links {
	font-family: "Silkscreen";
	font-size: 25px;
	padding: 10px;
}
	
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}
.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	padding-top: 10px;
	text-decoration: none;
}

p {
	font-family: "PressStart2P";
	font-size: 20px;
	line-height: 40px;
}
.text {
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	color: azure;
	margin-top: 100px;

}